<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    

    <servlet>
        <servlet-name>StudentCheckServlet</servlet-name>
        <servlet-class>org.faithfarm.StudentCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFInventoryServlet</servlet-name>
        <servlet-class>org.faithfarm.onlinestore.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFCustomerServlet</servlet-name>
        <servlet-class>org.faithfarm.onlinestore.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MassEmailServlet</servlet-name>
        <servlet-class>org.faithfarm.MassEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <servlet-class>org.faithfarm.PurchaseOrderServlet</servlet-class>
    </servlet>
    
    <servlet>
       	<servlet-name>HelpDeskServlet</servlet-name>
       	<servlet-class>org.faithfarm.HelpDeskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceServlet</servlet-name>
        <servlet-class>org.faithfarm.PriceServlet</servlet-class>
    </servlet>
   <servlet>
       	<servlet-name>OAuth2CallbackServlet</servlet-name>
       	<servlet-class>org.faithfarm.OAuth2CallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OAuth2Servlet</servlet-name>
        <servlet-class>org.faithfarm.OAuth2Servlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>WorkerServlet</servlet-name>
    	<servlet-class>org.faithfarm.WorkerServlet</servlet-class>
   	</servlet>
    <servlet>
        <servlet-name>RemoteApiServlet</servlet-name>
        <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BenevolenceServlet</servlet-name>
        <servlet-class>org.faithfarm.BenevolenceServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>SecurityServlet</servlet-name>
		<servlet-class>org.faithfarm.SecurityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>org.faithfarm.utilities.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CashDonationServlet</servlet-name>
		<servlet-class>org.faithfarm.CashDonationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>org.faithfarm.StudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CourseServlet</servlet-name>
		<servlet-class>org.faithfarm.CourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DispatchServlet</servlet-name>
		<servlet-class>org.faithfarm.DispatchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArrivalsServlet</servlet-name>
		<servlet-class>org.faithfarm.ArrivalsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SalesOrderServlet</servlet-name>
		<servlet-class>org.faithfarm.SalesOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>org.faithfarm.ControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IntakeServlet</servlet-name>
		<servlet-class>org.faithfarm.IntakeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VendorServlet</servlet-name>
		<servlet-class>org.faithfarm.VendorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>org.faithfarm.CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InventoryServlet</servlet-name>
		<servlet-class>org.faithfarm.InventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>org.faithfarm.ItemServlet</servlet-class>
	</servlet>

<servlet-mapping>
	    <servlet-name>StudentCheckServlet</servlet-name>
	    <url-pattern>/student_check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SFInventoryServlet</servlet-name>
	    <url-pattern>/sfinv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>SFCustomerServlet</servlet-name>
	    <url-pattern>/sfreg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>MassEmailServlet</servlet-name>
	    <url-pattern>/massemail</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <url-pattern>/po</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpDeskServlet</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceServlet</servlet-name>
        <url-pattern>/price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashDonationServlet</servlet-name>
        <url-pattern>/cash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth2CallbackServlet</servlet-name>
        <url-pattern>/oauth2callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth2Servlet</servlet-name>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>WorkerServlet</servlet-name>
    	<url-pattern>/worker/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
	    <servlet-name>RemoteApiServlet</servlet-name>
	    <url-pattern>/_ah/remote_api</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>BenevolenceServlet</servlet-name>
	    <url-pattern>/benevolence</url-pattern>
	    <url-pattern>/benevolence/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SecurityServlet</servlet-name>
		<url-pattern>/security</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseServlet</servlet-name>
		<url-pattern>/course</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DispatchServlet</servlet-name>
		<url-pattern>/dispatch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArrivalsServlet</servlet-name>
		<url-pattern>/arrivals</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SalesOrderServlet</servlet-name>
		<url-pattern>/sales</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>IntakeServlet</servlet-name>
		<url-pattern>/intake</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>VendorServlet</servlet-name>
		<url-pattern>/vendor</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/customer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>InventoryServlet</servlet-name>
		<url-pattern>/inventory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/item</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/benevolence/*</url-pattern>
            <url-pattern>/intake/*</url-pattern>
            <url-pattern>/inventory/*</url-pattern>
            <url-pattern>/customer/*</url-pattern>
            <url-pattern>/reports/*</url-pattern>
            <url-pattern>/order/*</url-pattern>
            <url-pattern>/security/*</url-pattern>
            <url-pattern>/vendor/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/forms/*</url-pattern>
            <url-pattern>/audit/*</url-pattern>
            <url-pattern>/includes/*</url-pattern>
            <url-pattern>/*</url-pattern>
            
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
    	<web-resource-collection>
    		<url-pattern>/worker/*</url-pattern>
    		<url-pattern>/google4892b1c59d7fdb09.html</url-pattern>
    	</web-resource-collection>
    </security-constraint>
	<session-config>
	    <session-timeout>480</session-timeout>
	</session-config>
	
	<sessions-enabled>true</sessions-enabled>
<!--OnPositive Tools-->
<servlet>
		<servlet-name>baseViewerServlet</servlet-name>
		<servlet-class>com.onpositive.gae.tools.servlets.BaseViewerServlet
		</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>baseViewerServlet</servlet-name>
		<url-pattern>/appwrench/baseviewer</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>SessionAuth</servlet-name>
		<servlet-class>com.onpositive.auth.AuthServlet</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>SessionAuth</servlet-name>
		<url-pattern>/appwrench/auth</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>QueueHandler</servlet-name>
		<servlet-class>com.onpositive.gae.tools.servlets.QueueHandlerServlet
		</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>QueueHandler</servlet-name>
		<url-pattern>/appwrench/queuehandler</url-pattern>
	</servlet-mapping>
<security-constraint>
		<web-resource-collection>
			<url-pattern>/appwrench/queuehandler</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
 <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>